<%= form_for(@menu_schedule) do |f| %>
  <% if @menu_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_schedule.errors.count, "error") %> prohibited this menu_schedule from being saved:</h2>

      <ul>
      <% @menu_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weekNumber %><br>
    <%= f.number_field :weekNumber %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :home_id %><br>
    <%= f.number_field :home_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
