<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="/"><%= image_tag('logo.png') %>   EasyMeal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="#">Mon stock</a></li>
          <li><a href="#">Planning</a></li>
          <li><%= link_to "Recettes", recipes_select_path %></li>
          <li><%= link_to "Mon profil", edit_user_path(current_user.id) %></li>
          <li><%= link_to "A propos", a_propos_path %></li>
          <li><%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Connexion", new_user_session_path %></li>
          <li><%= link_to "Inscription", new_user_registration_path %></li>
          <li><%= link_to "A propos", a_propos_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
