<!DOCTYPE html>
<html>
<head>
  <title>EasymealWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
<%= render 'layouts/navbar' %>

 <% if request.fullpath == "/" %>
     <%= yield %>
 <% elsif request.fullpath == "/recipes_select" %>
     <div class="content_recipe">
        <%= yield %>
    </div>
 <% else %>
    <div class="content">
        <%= yield %>
    </div>
<% end %>

</body>
</html>
