<h1><%= @recipe.name %></h1>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @recipe.photo.url(:medium), width: "100%", :class=>"bordered", :style => "border-radius: 6px;", :id => "image" %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-success">
      <div class="panel-heading">Réalisation</div>
      <div class="panel-body" style="padding-top: 0px;">
          <div class="row bordered">
              <div class="col-md-6 bordered-right" style="overflow:auto;padding: 10px 0 10px 0;">
                      <p>Ingr&eacute;dients :</p>
                      
                      <% @recipe.aliments_quantity.each do |alim| %>
                          <div class="row">
                          	  <div class="col-md-3" style="text-align: right;">
                          	      <%= alim.quantity %><% if alim.aliment.isQuantifiable %> g<% end %>
                          	  </div>
                      
                              <div class="col-md-9" style="text-align: left;">
                                  <%= alim.aliment.name %>
                              </div>
                          </div>
                      <% end %>

              </div>
              <div class="col-md-6" style="padding: 10px 0 10px 0;">
                  <div class="row">
                  	  <div class="col-md-6" style="text-align: right;">
                  	      Temps estimés :
                  	  </div>
          
                      <div class="col-md-6" style="text-align: left;">
                          <%= @recipe.time %> min
                      </div>
                  </div>

                  <div class="row">
                  	  <div class="col-md-6" style="text-align: right;">
                  	      Difficulté :
                  	  </div>
          
                      <div class="col-md-6" style="text-align: left;">
                          <%= @recipe.difficulty %>
                      </div>
                  </div>
                  
                  <div class="row">
                  	  <div class="col-md-6" style="text-align: right;">
                  	      Calories par personne :
                  	  </div>
          
                      <div class="col-md-6" style="text-align: left;">
                      	<% if @recipe.calories == nil %>
                            	Non connu
                      	<% else %>
                            	<%= @recipe.calories %>
                      	<% end %>
                      </div>
                  </div>
                  
                  <div class="row">
                  	  <div class="col-md-6" style="text-align: right;">
                  	      Recette pour :
                  	  </div>
          
                      <div class="col-md-6" style="text-align: left;">
                      	<% if @recipe.nb_servings == nil %>
                            	Non connu
                      	<% else %>
                            	<%= @recipe.nb_servings %> personne(s)
                      	<% end %>
                      </div>
                  </div>
                  
                  <div class="row">
                  	  <div class="col-md-6" style="text-align: right;">
                  	      Type de repas :
                  	  </div>
          
                      <div class="col-md-6" style="text-align: left;">
                          <% @recipe.recipe_categories.each do |category| %>
                              <%= category.name %>
                              <% if category != @recipe.recipe_categories.last %>, <% end %>
                          <% end %>
                      </div>
                  </div>

              </div>
          </div>
      	
        <div style="padding: 10px 0 10px 0;">
          	<p>Préparation : </p>
          	<div style="text-align: left;">
              <%= @recipe.text.html_safe %>
            </div>
        </div>
      	
      </div>
    </div>
  </div>
</div>

<%= link_to 'Retour', :back, :class => "btn btn-danger" %>

<script>
    $(document).ready(function()
        {
            show_table();
            $("#image").error(function()
            {
                $(this).hide();
            });
        });
</script>
