<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.birth %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Lastconnexion:</strong>
  <%= @user.lastConnexion %>
</p>

<p>
  <strong>Loginattempts:</strong>
  <%= @user.loginAttempts %>
</p>

<p>
  <strong>Lock:</strong>
  <%= @user.lock %>
</p>

<p>
  <strong>Islock:</strong>
  <%= @user.islock %>
</p>

<p>
  <strong>Resettoken:</strong>
  <%= @user.resetToken %>
</p>

<p>
  <strong>Highcholesterol:</strong>
  <%= @user.highCholesterol %>
</p>

<p>
  <strong>Highbloodpressure:</strong>
  <%= @user.highBloodPressure %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<p>
  <strong>Desireweight:</strong>
  <%= @user.desireWeight %>
</p>

<p>
  <strong>Idealweight:</strong>
  <%= @user.idealWeight %>
</p>

<p>
  <strong>Home:</strong>
  <%= @user.home_id %>
</p>

<p>
  <strong>Weightpointid:</strong>
  <%= @user.weightPointId %>
</p>

<p>
  <strong>Diettypeid:</strong>
  <%= @user.dietTypeId %>
</p>

<p>
  <strong>Weightcurveid:</strong>
  <%= @user.weightCurveId %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
